body {
  font-family: "ABCRepro-Medium", Helvetica, Arial, 'Courier New', Courier, monospace;
}

body {
  font-family: 'Courier New', Courier, monospace;
  /* background: #ffffff; */
  color: #000000;
  /* background-image: url("../images/eid.png"); */
  /* background-color:aqua; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  display: flex;
  
  li {
    list-style: none;
    font-weight: bold;
    font-size: 4em;
    letter-spacing: 25px;
    filter: blur(1px);
    transition: all 2s;
    
    &:hover, &:hover ~ li {
      transform: rotate(20deg) translatey(-20px);
      opacity: 0;
      filter: blur(20px);
    }
  }
} 